<ion-header>
  <ion-navbar color="button-orange">
    <ion-title>Unidades - {{ estateName }}</ion-title>
    <ion-buttons right>
      <button ion-button clear icon-only (click)="dismissModal()">
        <ion-icon name="md-close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar color="button-orange">
    <ion-searchbar (ionInput)="filterCities($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card *ngFor="let item of ufHospitals">
    <ion-card-header color="button-orange">
      {{ item.city }}
    </ion-card-header>
    <hr>
    <ion-card-content>

      <ion-list no-lines text-wrap>
        <ion-item *ngFor="let subitem of item.hospitals">
          {{ subitem.name }}
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
