page-exam {

    .tutorial {
        h2 {
            font-size: 18px;
        }

        ol>li {
            font-size: 15px;
        }
    }

    .exam {

        h2 {
            border-top: 1xp solid #ddd;
            font-size: 18px;
            margin-bottom: 20px;
        }

        .card {
            text-align: left;

            img {
                width: 100%;
            }

            .card-content {
                min-height: 244px;
            }
        }

        .answers {

            h3 {
                font-size: 15px;
                margin: 15px 0;
            }

            .col {
                padding: 0;

                .item {
                    padding-left: 0;

                    .item-inner {
                        border-bottom: 0; 
                    }
                }
            }
        }
    }
}
