page-about-us {

    .scroll-content {
        padding: 0 !important;
    }

    .user-section {
        background-color: map-get($colors, 'button-light-orange');
        padding: 16px;

        .avatar {
            margin: 10px auto;
            width: 80px;
            height: 80px;

            img {
                border: 3px solid map-get($colors, 'light');
                border-radius: 50%;
                object-fit: cover;
                object-position: 0 0;
                width: 100%;
                height: 100%;
            }
        }

        .description {
            text-align: center;
            color: map-get($colors, 'light');

            h2 {
                font-size: 17px;
            }

            p {
                font-size: 15px;
            }
        }
    }

    .skills {
        padding: 16px;

        h3 {
            text-align: center;
            font-size: 18px;
        }
    }
}
